<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="page-title">Page name</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <onesource-card padding="32px">
        <h1 class="os-card-header">
          Type card heading here
        </h1>
        <h2 class="os-card-subheading">
          Placeholder copy
        </h2>
        <p class="os-card-body-text">
          Delete me if you don’t need me. Information inside of me is for
          additional information, should the user want to know more
        </p>
      </onesource-card> 
    </div>
  </div>
</div>

