<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="page-title">Error</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <onesource-card padding="60px">
        <div class="center-content">
          <div class="avatar-icon">
            <onesource-avatar-alerts
              iconName="icn_alert"
              avatarSize="80"
              color="secondary-color"
            ></onesource-avatar-alerts>
          </div>

          <div class="content-title center-content">
            Something went wrong
          </div>
          <div class="content-title-description">
            Please try again later
          </div>
          
          <onesource-button class="Secondary" labelText="ACTION">
          </onesource-button>
        </div>
      </onesource-card> 
    </div>
  </div>
</div>