@font-face {
    font-family: "BentonSans";
    src: url('./assets/fonts/bentonsansregular/Benton_Sans-Regular.otf');
  }
  
@font-face {
    font-family: "Benton Sans";
    src: url('./assets/fonts/bentonsansregular/Benton_Sans-Regular.otf');
  }
