<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="page-title">Under maintenance</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <onesource-card padding="60px">
        <div class="center-content">
          <div class="avatar-icon">
            <onesource-avatar-alerts
              iconName="icn_alert"
              avatarSize="80"
              color="secondary-color"
            ></onesource-avatar-alerts>
          </div>

          <div class="content-title center-content">
            We’re busy with some maintenance
          </div>
          <div class="content-title-description mb-0">
            We’ll be back soon
          </div>
        </div>
      </onesource-card> 
    </div>
  </div>
</div>