<footer class="container">
  <ul class="links" >
    <li><a href="https://www.cib.com">security centre</a></li>
    <li><a href="https://www.cib.com">Regulatory</a></li>
    <li><a href="https://www.cib.com">legal</a></li>
    <li><a href="https://www.cib.com">terms & conditions</a></li>
   
  </ul>
  <div class="footer-message-icons">
    <p class="footer-message">
      {{content}}
    </p>
    <div class="icons-position">
      <mat-icon class="appear" svgIcon="icn_logo_linkedin"></mat-icon>
      <mat-icon class="appear" svgIcon="icn_logo_YouTube"></mat-icon>
      <mat-icon class="appear" svgIcon="icn_logo_twitter"></mat-icon>
      <mat-icon class="appear" svgIcon="icn_logo_FB"></mat-icon>
    </div>
  </div>
</footer>
