
  .grid-card{
    background-color: white;
    border: 1px solid #CED3D9;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 16px;
    box-sizing: border-box;
    font-family: 'BentonSans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .grid-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }